@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
}
.menu-container {
  margin-top: 0;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.upper-menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 0.1vw;
}

.upper-menu__name {
  font-size: 4vw;
  color: black;
}
.upper-menu__thing {
  margin-right: 20vw;
  margin-top: 5vw;
  font-size: 2vw;
  display: flex;
}
.upper-menu__thing li {
  list-style: none;
}
li {
  margin-bottom: 0;
  margin-right: 2vw;
}

.introduction {
  display: flex;
  justify-content: space-between;
}
.bio {
  margin-right: 20vw;
  margin-top: 20vw;
}
.bio__text {
  width: 60vw;
  font-size: 1.4vw;
}
.bio__title {
  font-size: 4vw;
}
img {
  margin-top: 20vw;
  border-radius: 10%;
  width: 35vw;
  height: 40vw;
}
.church {
  width: 30vw;
  height: 40vw;
}
.contact {
  display: flex;
}
.contacts {
  margin-top: 20vw;
}
